# CPA - Trabalho Extensionista

### Nomes: 
- Ana Carolina Poletto, 
- Barbara Depper, 
- Louise Zanol Northfleet.

---------------
### 1. Análise Exploratoria dos Dados:
- Compreensão inicial do que cada coluna representa. 
- Uniformização dos Dados
- Indentificar a qualidade dos dados; 
- Identificar dados ausentes;
- Tratamento desses Dados.

### 2. Gerar o dataset final 
- Agrupar por municipio e ano. 
--------------

In [69]:
# Manipulacao dos dados
import pandas as pd
from unidecode import unidecode
import numpy as np

# Para rodar outras files do jupyter nootebook dentro desta file 
import nbformat 

# Visualização de dados
import matplotlib.pyplot as plt
import seaborn as sns


## 1. Análise dos Dados:

#### A uniformização e a análise exploratória dos dados serão realizadas em arquivos separadas, visando uma melhor organização.

#### Para encontrar a análise de cada data frame acesse:

- `Dados_do_Enem.ipynb -->  Dados do ENEM`
- `Dados_PNAE.ipynb -->  Dados do PNAE`

Lendo o notebook Dados_do_Enem e executa todas as células de código do notebook:

In [70]:

with open("Dados_do_Enem.ipynb") as f:
    notebook = nbformat.read(f, as_version=4)

for i, cell in enumerate(notebook.cells):
    if cell.cell_type == 'code':
        try:
            exec(cell.source)
        except Exception as e:
            print(f"\nErro na célula {i}:\n{cell.source}\n")
            print(f"Tipo do erro: {type(e).__name__}")
            print(f"Mensagem: {e}")

  NO_MUNICIPIO_ESCOLA  NU_ANO  NU_MATRICULAS
0              Aceguá    2012             33
1              Aceguá    2014             40
2              Aceguá    2015             63
3               Agudo    2012             97
4               Agudo    2013            106
                           Qtd. Faltantes  % Faltantes
INSE                                 4195       100.00
NU_MEDIA_TOT                         4195       100.00
NU_MEDIA_OBJ                         4195       100.00
NU_TAXA_PERMANENCIA                  1962        46.77
PC_FORMACAO_DOCENTE                   925        22.05
NU_PARTICIPANTES_NEC_ESP              925        22.05
NU_TAXA_ABANDONO                        1         0.02
NU_TAXA_REPROVACAO                      1         0.02
NU_TAXA_APROVACAO                       1         0.02
NU_ANO                                  0         0.00
NU_MEDIA_LP                             0         0.00
NU_MEDIA_RED                            0         0.00
NU_MEDIA_MT                             0         0.00
NU_MEDIA_CH                             0         0.00
SG_UF_ESCOLA                            0         0.00
NU_MEDIA_CN                             0         0.00
NU_TAXA_PARTICIPACAO                    0         0.00
NU_PARTICIPANTES                        0         0.00
NU_MATRICULAS                           0         0.00
TP_LOCALIZACAO_ESCOLA                   0         0.00
TP_DEPENDENCIA_ADM_ESCOLA               0         0.00
NO_ESCOLA_EDUCACENSO                    0         0.00
NO_MUNICIPIO_ESCOLA                     0         0.00
CO_MUNICIPIO_ESCOLA                     0         0.00
PORTE_ESCOLA                            0         0.00
                           Qtd. Faltantes  % Faltantes
INSE                                 4195       100.00
NU_TAXA_PERMANENCIA                  1962        46.77
PC_FORMACAO_DOCENTE                   925        22.05
NU_PARTICIPANTES_NEC_ESP              925        22.05
NU_TAXA_ABANDONO                        1         0.02
NU_TAXA_REPROVACAO                      1         0.02
NU_TAXA_APROVACAO                       1         0.02
NU_ANO                                  0         0.00
NU_MEDIA_LP                             0         0.00
NU_MEDIA_TOT                            0         0.00
NU_MEDIA_OBJ                            0         0.00
NU_MEDIA_RED                            0         0.00
NU_MEDIA_MT                             0         0.00
NU_MEDIA_CH                             0         0.00
SG_UF_ESCOLA                            0         0.00
NU_MEDIA_CN                             0         0.00
NU_TAXA_PARTICIPACAO                    0         0.00
NU_PARTICIPANTES                        0         0.00
NU_MATRICULAS                           0         0.00
TP_LOCALIZACAO_ESCOLA                   0         0.00
TP_DEPENDENCIA_ADM_ESCOLA               0         0.00
NO_ESCOLA_EDUCACENSO                    0         0.00
NO_MUNICIPIO_ESCOLA                     0         0.00
CO_MUNICIPIO_ESCOLA                     0         0.00
PORTE_ESCOLA                            0         0.00
                           Qtd. Faltantes  % Faltantes
NU_TAXA_PERMANENCIA                  1961        46.76
PC_FORMACAO_DOCENTE                   924        22.03
NU_PARTICIPANTES_NEC_ESP              924        22.03
NU_ANO                                  0         0.00
NU_MEDIA_LP                             0         0.00
NU_TAXA_ABANDONO                        0         0.00
NU_TAXA_REPROVACAO                      0         0.00
NU_TAXA_APROVACAO                       0         0.00
NU_MEDIA_TOT                            0         0.00
NU_MEDIA_OBJ                            0         0.00
NU_MEDIA_RED                            0         0.00
NU_MEDIA_MT                             0         0.00
NU_MEDIA_CH                             0         0.00
SG_UF_ESCOLA                            0         0.00
NU_MEDIA_CN                             0         0.00
NU_TAXA_PARTICIPACAO                    0         0.00
NU_PARTICIPANTES                        0         0.00
NU_MATRICULAS                           0         0.00
TP_LOCALIZACAO_ESCOLA                   0         0.00
TP_DEPENDENCIA_ADM_ESCOLA               0         0.00
NO_ESCOLA_EDUCACENSO                    0         0.00
NO_MUNICIPIO_ESCOLA                     0         0.00
CO_MUNICIPIO_ESCOLA                     0         0.00
PORTE_ESCOLA                            0         0.00
0       1
1       1
2       1
3       1
4       2
       ..
4190    1
4191    1
4192    1
4193    1
4194    1
Name: TP_DEPENDENCIA_ADM_ESCOLA, Length: 3095, dtype: int64
  NO_MUNICIPIO_ESCOLA  NU_ANO  NU_MATRICULAS
0              ACEGUÁ    2012             33
1              ACEGUÁ    2014             40
2              ACEGUÁ    2015             63
3               AGUDO    2012             97
4               AGUDO    2013            106
Index(['Municipio', 'Ano', 'NU_MATRICULAS', 'NU_PARTICIPANTES', 'NU_MEDIA_TOT',
       'NU_TAXA_PERMANENCIA', 'NU_TAXA_ABANDONO'],
      dtype='object')

<string>:10: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.

In [71]:
Dados_do_Enem = pd.read_csv("df1.csv") # enem por escola

Abre o notebook Dados_PNAE.ipynb e executa todas as células de código do notebook:

In [72]:
with open("Dados_PNAE.ipynb") as f:
    notebook = nbformat.read(f, as_version=4)

for i, cell in enumerate(notebook.cells):
    if cell.cell_type == 'code':
        try:
            exec(cell.source)
        except Exception as e:
            print(f"\nErro na célula {i}:\n{cell.source}\n")
            print(f"Tipo do erro: {type(e).__name__}")
            print(f"Mensagem: {e}")

['CRECHE' 'EJA' 'ENSINO FUNDAMENTAL' 'ENSINO MÉDIO'
 'ENSINO MÉDIO INTEGRAL' 'PRÉ-ESCOLA'
 'ATENDIMENTO EDUCACIONAL ESPECIALIZADO (AEE)' 'INDÍGENA'
 'MAIS EDUCAÇÃO (PARC. COMPLEM.) - FUNDAMENTAL' 'QUILOMBOLA'
 'MAIS EDUCAÇÃO (PARC. COMPLEM.) - INDÍGENA'
 'MAIS EDUCAÇÃO (PARC. COMPLEM.) - QUILOMBOLA'
 'MAIS EDUCAÇÃO (PARC. COMPLEM.) - MÉDIO']
Linhas totais: 22796
Duplicadas: 22240
quantidade de linhas nao Duplicadas: 556
Duplicadas: 0
                        Qtd. Faltantes  % Faltantes
Co_recursos_repassados               0          0.0
Ano                                  0          0.0
Estado                               0          0.0
Municipio                            0          0.0
Esfera_governo                       0          0.0
Modalidade_ensino                    0          0.0
Vl_total_escolas                     0          0.0
                   Qtd. Faltantes  % Faltantes
Ano                             0          0.0
Estado                          0          0.0
Municipio                       0          0.0
Esfera_governo                  0          0.0
Modalidade_ensino               0          0.0
Vl_total_escolas                0          0.0
      Municipio   Ano  Vl_total_escolas
0     AJURICABA  2012            740460
1     AJURICABA  2013            626562
2     AJURICABA  2014            651900
3       ALECRIM  2012            659280
4       ALECRIM  2013            560880
..          ...   ...               ...
547  VILA_MARIA  2015            312420
548   WESTFALIA  2012            248460
549   WESTFALIA  2013            255840
550   WESTFALIA  2014            248460
551   WESTFALIA  2015            282900

[552 rows x 3 columns]

In [73]:
df1 = pd.read_csv("df1.csv") 
df2 = pd.read_csv("df2.csv")

In [74]:
df1.head()

,Municipio,Ano,NU_MATRICULAS,NU_PARTICIPANTES,NU_MEDIA_TOT,NU_TAXA_PERMANENCIA,NU_TAXA_ABANDONO
0,ACEGUÁ,2012,33,21,499.41,NaN,16.9
1,ACEGUÁ,2014,40,24,491.07,87.5,1.7
2,ACEGUÁ,2015,63,40,496.30,90.0,6.4
3,AGUDO,2012,97,90,513.70,NaN,5.5
4,AGUDO,2013,106,81,529.26,NaN,7.6

In [75]:
df2.head()

   Municipio   Ano  Vl_total_escolas
0  AJURICABA  2012            740460
1  AJURICABA  2013            626562
2  AJURICABA  2014            651900
3    ALECRIM  2012            659280
4    ALECRIM  2013            560880

## 2. Gerar o dataset final

In [76]:
# Fazer o merge com base em 'Municipio' e 'Ano'
df_final = pd.merge(df1, df2, on=['Municipio', 'Ano'], how='inner')

# Visualizar o resultado
print(df_final.head())

   Municipio   Ano  NU_MATRICULAS  NU_PARTICIPANTES  NU_MEDIA_TOT  \
0  AJURICABA  2012             84                48        517.69
1  AJURICABA  2013             62                31        517.02
2  AJURICABA  2014             66                40        527.68
3    ALECRIM  2012             55                42        525.93
4    ALECRIM  2013             58                49        534.30

   NU_TAXA_PERMANENCIA  NU_TAXA_ABANDONO  Vl_total_escolas
0                  NaN               4.1            740460
1                  NaN               8.0            626562
2                 95.0               8.6            651900
3                  NaN               1.3            659280
4                  NaN               3.3            560880

#### Renomeia as Colunas

In [77]:
df_final = df_final.rename(columns={
    'Municipio': 'Município',
    'Ano': 'Ano',
    'Vl_total_escolas': 'Valor Total por Municipio (R$)',
    'NU_MATRICULAS': 'Número de matriculas no Enem',
    'NU_PARTICIPANTES': 'Número de participantes', 
    'NU_MEDIA_TOT': 'Média Total Enem',
    'NU_TAXA_PERMANENCIA': 'Taxa de Permanência (%)',
    'NU_TAXA_ABANDONO': 'Taxa de Abandono (%)',
    'Repasse_per_capita': 'Repasse per Capita (R$)'
})

#### Precisamos criar uma coluna para o numero do repasse por aluno (repasse per capta)

In [78]:
# transforma em string
df_final['Número de matriculas no Enem'] = df_final['Número de matriculas no Enem'].astype(str) 
df_final['Valor Total por Municipio (R$)'] = df_final['Valor Total por Municipio (R$)'].astype(str)

#Transforma um ponto em uma virgula
df_final['Valor Total por Municipio (R$)'] = df_final['Valor Total por Municipio (R$)'].str.replace(',', '', regex=False)

#Transforma em um numero 
df_final['Valor Total por Municipio (R$)'] = pd.to_numeric(df_final['Valor Total por Municipio (R$)'], errors='coerce')
df_final['Número de matriculas no Enem'] = pd.to_numeric(df_final['Número de matriculas no Enem'], errors='coerce')

#cria o repasse per capita 
df_final['Repasse per Capita (R$)'] = df_final['Valor Total por Municipio (R$)'] / (df_final['Número de matriculas no Enem'] * 3)

# arredonda para duas casas decimais 
df_final['Repasse per Capita (R$)'] = df_final['Repasse per Capita (R$)'].round(2)

media = df_final['Repasse per Capita (R$)'].mean().round(2)
print("Média do repasse per capita: R$", media)
print("Média do repasse per capita por dia letivo: R$", media/200)


media_por_ano = df_final.groupby('Ano')['Repasse per Capita (R$)'].mean().round(2)

print("Média do repasse per capita por ano:")
print(media_por_ano)

print("\nMédia do repasse per capita por dia letivo (assumindo 200 dias):")
print((media_por_ano / 200).round(2))

Média do repasse per capita: R$ 3571.14
Média do repasse per capita por dia letivo: R$ 17.8557
Média do repasse per capita por ano:
Ano
2012    3978.41
2013    3583.39
2014    3352.16
2015    3331.96
Name: Repasse per Capita (R$), dtype: float64

Média do repasse per capita por dia letivo (assumindo 200 dias):
Ano
2012    19.89
2013    17.92
2014    16.76
2015    16.66
Name: Repasse per Capita (R$), dtype: float64

Cria uma tabela com a soma total por ano

In [79]:
Soma_por_ano = df_final.groupby('Ano')['Número de matriculas no Enem'].sum()

# Converte para DataFrame
Soma_por_ano_df = Soma_por_ano.reset_index()

# Renomeia as colunas
Soma_por_ano_df.columns = ['Ano', 'Soma do Número de matriculas no Enem']
Soma_por_ano_df.to_csv('Soma_por_ano.csv', index=False)

In [80]:
df_final.to_csv('tabela_final.csv', index=False)